.aboutSection {
  justify-self: center;
  align-items: center;
  position:static;
  display: flex;
  flex-direction: column;
}
.aboutDiv {
  margin: 80vh 0 6vh 0;
  justify-self: center;
  height: 80vh;
  width: 90vw;
  max-width: 1600px;
  /* position: static; */
  display: flex;
}

.PhotoDiv {
  display: flex;
  width: 400px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.My_Photo {
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 350px;
  border: 4px solid var(--theme_backgroundColor_Front);
  box-shadow: 2px -2px 4px var(--theme_Light_shadow_color),
    -8px 8px 10px var(--theme_Dark_shadow_color);
}

.textDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 10px 4% 10px 2%;
  color: var(--theme_ParaText_color);
  background-color: hsla(0, 0%, 28%, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px;
  padding: 10px 5%;
}

.About_title {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    var(--Hero_Color2),
    rgb(255, 161, 67),
    hsl(0, 100%, 78%),
    rgb(255, 161, 67),
    var(--Hero_Color2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0 auto 15px;
}
.About_subtitle {
  display: inline-block;
  margin: 30px 0 15px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--Hero_Color1);
  background: linear-gradient(
    90deg,
    var(--Hero_Color2),
    rgb(255, 161, 67),
    hsl(66, 100%, 68%),
    hsl(0, 100%, 78%),
    var(--Hero_Color2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.highlight {
  display: inline-block;
  font-weight: 900;
  color: var(--theme_HeadingText_color_opp);
}

.aboutPara {
  margin: 4px 0 4px 0;
  font-weight: 500;
  color: var(--theme_ParaText_color_opp);
  background-color: var(--theme_backgroundColor_Front_opp);
  border-radius: 20px;
  padding: 10px 5%;
}

.about_Skills {
  width: 80vw;
  height: 10vh;
  background-color: hsla(0, 0%, 28%, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
}
