.gridImg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: var(--theme_backgroundColor_Deepest);
  /* filter: hue-rotate(300deg); */
}

.intro_text {
  display: flex;
  position: fixed;
  z-index: -90;
  height: 40vh;
  min-width: 700px;
  max-width: 760px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--theme_ParaText_color);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin: 20vh 0;
  gap: 1vh;
  line-height: 80px;
}
.MyName {
  color: var(--theme_HeadingText_color);
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 5px 5px 2px hsl(0, 0%, 15%);
}
.front_endText {
  display: inline-block;
  font-size: 3rem;
  font-weight: 900;
  background: linear-gradient(
    90deg,
    rgb(255, 161, 67),
    hsl(180, 100%, 59%),
    hsl(66, 100%, 68%),
    hsl(0, 100%, 78%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.FullStack_endText {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 3.5rem;
  font-weight: 900;
  background-color: var(--theme_backgroundColor_Deepest);
  color: var(--theme_HeadingText_color);
}
.FullStack_endText::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  padding: 4px;
  z-index: -90;
  background: conic-gradient(
    from var(--angle),
    rgb(255, 129, 2),
    hsl(180, 100%, 50%),
    hsl(66, 100%, 50%),
    hsl(0, 100%, 61%),
    rgb(255, 129, 2)
  );
  animation: rotate 2s linear infinite;
  border-radius: 2px;
}
