.contactPage {
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0px 20px 44px;
    width: 80vw;
    height: max-content;
    background-color: var(--theme_backgroundColor_Deep);
    border-radius: 20px;
    box-shadow: inset -8px -8px 20px var(--theme_Dark_shadow_color),
        inset 8px 8px 20px var(--theme_Light_shadow_color);
    overflow-x: hidden;
}

.contactTitle {
    color: var(--Hero_Color1);
    align-self: flex-start;
    background-color: var(--theme_backgroundColor_Front);
    border-radius: 16px;
    padding: 12px 20px;
    margin: 6% 10%;
    box-shadow: inset -2px -2px 4px var(--theme_Dark_shadow_color), inset 4px 4px 8px var(--theme_Light_shadow_color), 2px 2px 8px var(--theme_Dark_shadow_color);
}

.contactForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sub_1_Container {
    width: 100%;
    height: 40%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Contentlogo {
    width: 35%;
    height: 100%;
    background-color: var(--theme_backgroundColor_Front);
    border-radius: 50%;
    padding: 12px;
    box-shadow: inset -2px -2px 4px var(--theme_Dark_shadow_color), inset 4px 4px 8px var(--theme_Light_shadow_color), 2px 2px 8px var(--theme_Dark_shadow_color);
    object-fit: cover;
}

.sub_1Text_Container {
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.inputArea {
    width: 100%;
    display: inline-block;
    padding: 15px;
    background-color: var(--theme_backgroundColor_Deepest);
    color: var(--theme_ParaText_color);
    font-size: '16px';
    border-radius: 10px;
    box-shadow: inset -2px -2px 4px var(--theme_Light_shadow_color), inset 4px 4px 8px var(--theme_Dark_shadow_color);
    border: 2px solid var(--theme_backgroundColor_Deep);
}

.mainText_container {
    width: 90%;
    resize: vertical;
    box-sizing: border-box;
    margin: 20px auto;
    scrollbar-width:none;
}

.ContentButton {
    background-color: var(--Hero_Color1);
    padding: 16px 24px;
    width: max-content;
    margin: 0 auto;
    border-radius: 12px;
    border: 2px solid var(--theme_backgroundColor_Deep);
    box-shadow: inset 4px 4px 6px var(--theme_Light_shadow_color), inset -2px -2px 6px var(--theme_Dark_shadow_color), 4px 4px 12px var(--theme_Dark_shadow_color);
}