:root {
  --NAV_mainColor: hsla(0, 0%, 80%, 0);
  --NAV_side1Color: hsla(0, 0%, 80%, 0);
  --NAV_side2Color: hsl(0, 0%, 80%, 0);
  --NAV_BorderColor: hsl(0, 0%, 80%, 0);

  /* --Hero_Color1: hsl(268, 96%, 37%); #009876 */
  --Hero_Color1: hsl(268, 100%, 74%);
  --Hero_Color2: hsl(180, 100%, 59%);

  --theme_backgroundColor_Deepest: hsl(0, 0%, 12%);
  --theme_backgroundColor_Deep: hsl(0, 0%, 20%);
  --theme_backgroundColor_Front: hsl(0, 0%, 28%);

  --theme_backgroundColor_Deepest_opp: hsl(0, 0%, 70%);
  --theme_backgroundColor_Deep_opp: hsl(0, 0%, 75%);
  --theme_backgroundColor_Front_opp: hsl(0, 0%, 80%);

  --theme_ParaText_color: hsl(0, 0%, 85%);
  --theme_HeadingText_color: hsl(0, 0%, 95%);

  --theme_ParaText_color_opp: hsl(0, 0%, 15%);
  --theme_HeadingText_color_opp: hsl(0, 0%, 5%);

  --theme_Light_shadow_color: hsla(0, 0%, 90%, 0.8);
  --theme_Dark_shadow_color: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

  -webkit-user-select: none; /* Safari & Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

.scrollable_section {
  width: 96vw;
  height: 100vh;
  margin-top: 80vh;
  padding: 8px 4px;
  justify-self: center;
}
.pageSection {
  width: 96%;
  height: 90vh;
  margin: 8px auto;
  border-radius: 20px;
  background-color: hsla(0, 0%, 30%, 0.99);
}

.footer {
  margin-top: 10vh;
  max-width: 100vw;
  /* width: 100vw; */
  height: 200px;
  background-color: rgb(54, 70, 70);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
