:root {
  --NAV_mainColor: hsla(0, 0%, 80%, 0);
  --NAV_side1Color: hsla(0, 0%, 80%, 0);
  --NAV_side2Color: hsl(0, 0%, 80%, 0);
  --NAV_BorderColor: hsl(0, 0%, 80%, 0);

  /* --Hero_Color1: hsl(268, 96%, 37%); #009876 */
  --Hero_Color1: hsl(268, 100%, 74%);
  --Hero_Color2: hsl(180, 100%, 59%);

  --theme_backgroundColor_Deepest: hsl(0, 0%, 16%);
  --theme_backgroundColor_Deep: hsl(0, 0%, 20%);
  --theme_backgroundColor_Front: hsl(0, 0%, 28%);

  --theme_backgroundColor_Deepest_opp: hsl(0, 0%, 70%);
  --theme_backgroundColor_Deep_opp: hsl(0, 0%, 75%);
  --theme_backgroundColor_Front_opp: hsl(0, 0%, 80%);

  --theme_ParaText_color: hsl(0, 0%, 85%);
  --theme_HeadingText_color: hsl(0, 0%, 95%);

  --theme_ParaText_color_opp: hsl(0, 0%, 15%);
  --theme_HeadingText_color_opp: hsl(0, 0%, 5%);

  --theme_Light_shadow_color: hsla(0, 0%, 90%, 0.8);
  --theme_Dark_shadow_color: hsl(0, 0%, 0%);

}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

  -webkit-user-select: none;
  /* Safari & Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard */
}

.footer {
  margin: 10vh auto 0;
  padding: 16px 24px;
  width: 90vw;
  height: max-content;
  background-color: var(--theme_backgroundColor_Front);
}

.contact_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  font-size: 1.2rem;
  color: var(--theme_ParaText_color);
  text-decoration: none;
}

.contact_link:hover .contactLogos {
  filter: saturate(1);
  transition: all 0.15s ease-in-out;
}

.contact_link:hover {
  transform: scale(1.15) translateY(-3px);
  transition: all 0.15s ease-in-out;
}
.contact_link:active {
  color: var(--Hero_Color2);
  text-decoration: none;

}

.contactLogos {
  width: 40px;
  padding: 12px;
  filter: saturate(0);
}

.contactLogo_text {
  font-weight: 900px;

}


.footerSubDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}

.footerSubDiv_text {
  width: 50%;
  padding: 5%;
  text-align: start;
  font-weight: 900;
  height: 100%;
  font-size: 4rem;
}

.other_contacts {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.footer_text{
  width: max-content;
  margin: 8px auto;
  font-size: 1.2rem;
  opacity: 40%;
  color: var(--theme_ParaText_color);

}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}