.navbar {
  position: fixed;
  top: 24px;
  padding: 22px 40px;
  width: 80%;
  max-width: 900px;
  z-index: 100;

  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: row;
  justify-content: space-between;

  color: var(--theme_ParaText_color);
  border-radius: 40px;
  border: 4px solid var(--NAV_BorderColor);
  background: radial-gradient(
    circle closest-corner,
    var(--NAV_mainColor),
    var(--NAV_side1Color),
    var(--NAV_side2Color)
    );
  }
  
  .Portfolio_navText{
    font-size: 1.7rem;
  color: var(--theme_HeadingText_color);

}

.list_container {
  display: flex;
  list-style: none;
  gap: 24px;
}
