.project_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: max-content;
  position: relative;
    margin-bottom: 10vh;

}
.project_title{
  font-weight: 900;
}
.project_space{
  width: 100vw;
  height: max-content;
  position: relative;
}


.project_button{
  padding: 20px 28px;
  border-radius: 20px;
  margin: calc(320px + 16*8px) auto;
}















 
 /* styling Project card */

.Project_card {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateX(-50%);
  align-items: center;
  width: 240px;
  height: 320px;
  padding: 12px 16px;
  background: radial-gradient(
    circle at 100% 100%,
    /* var(--theme_backgroundColor_Front), */
    var(--Hero_Color2),
    var(--theme_backgroundColor_Front),
    transparent,
    var(--theme_backgroundColor_Deep),
    var(--theme_backgroundColor_Deepest)
  );
  box-shadow: -1px -1px 8px var(--theme_Light_shadow_color),
    2px 2px 6px var(--Hero_Color1);
  border-radius: 16px;
}

.projectName {
  font-size: 2rem;
  font-weight: 900;
  color: var(--theme_ParaText_color);
  text-shadow: 2px 2px 4px var(--Hero_Color2), -2px -2px 4px var(--Hero_Color1);
}

.project_img {
  width: 94%;
}

.skillTag_container {
  width: 95%;
  height: max-content;
  list-style: none;
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  gap: 8px;
}
.skillTag {
  margin: 2px 0;
  padding: 4px 12px;
  background: linear-gradient(
    90deg,
    var(--theme_backgroundColor_Deep),
    var(--Hero_Color1)
  );

  color: var(--theme_HeadingText_color);

  border-radius: 20px;
  border: 2px solid var(--theme_Light_shadow_color);
  box-shadow: inset -1px -1px 8px var(--theme_Light_shadow_color),
    inset 2px 2px 6px var(--Hero_Color2);
}